a, div {
    outline: 0 none;
}

.javascript-template {
    display: none;
}

#map-woudestein {
    width: 100%;
    height: 100%;
}

#content-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
}