.icon-navigation {
    line-height: 1;
    list-style: none;
    padding: 0 0 49px; // 50px - 1px border
    margin: 0;

    a {
        outline: 0;
        display: block;
        color: $layout-hover;
        position: relative;
        border-bottom: 1px solid $border-menu;
    }

    li.active a,
    a:focus,
    a:hover {
        color: $white;
        background-color: $layout-hover;
        text-decoration: none;
    }

    .icon {
        font-size: 15px;
    }

    .custom-icon {
        width: 25px;
        max-width: 100%;
    }

    .page-icon {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .page-label {
        display: none;
        padding-bottom: 15px;
    }
}

// sizes per toggle
.no-toggle .icon-navigation {
    @media (min-width: $screen-md-min) {
        .icon {
            font-size: 30px;
        }

        .custom-icon {
            width: 50px;
        }

        .page-icon {
            padding-bottom: 5px;
        }

        .page-label {
            display: block;
        }
    }
}

.toggle-big .icon-navigation {
    .icon {
        font-size: 30px;
    }

    .custom-icon {
        width: 50px;
    }

    .page-icon {
        padding-bottom: 5px;
    }

    .page-label {
        display: block;
    }
}

.toggle-small .icon-navigation {
    .icon {
        font-size: 15px;
    }

    .custom-icon {
        width: 25px;
    }

    .page-icon {
        padding-bottom: 15px;
    }

    .page-label {
        display: none;
    }
}